<div class="dashboard-wrapper">
  <div>
    <iframe src="https://embed.spotify.com/?uri={{searchData.artists.[2].foreign_ids.[0].foreign_id}}" width="640" height="640" frameborder="0" allowtransparency="true"></iframe>
  </div>
</div>